<?xml version="1.0"?>
<launch>
	<arg name="name"/>
	<arg name="pose"/>
	<param name="product_description" command="$(find xacro)/xacro '$(find stage_assets)/assets/product.xacro'" />
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="$(arg pose) -urdf -model $(arg name) -param product_description"/>
</launch>
