<?xml version="1.0"?>
<launch>
	<param name="shop_floor_tape" command="$(find xacro)/xacro '$(find stage_assets)/assets/shop_floor_tape.xacro'" />
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-x 0 -y 0 -z 0 -Y 0.0005 -urdf -model product -param shop_floor_tape"/>
</launch>
