<?xml version="1.0"?>
<launch>
	<arg name="file"/>
	<arg name="name"/>
  <param name="tape" textfile="$(find stage_assets)/assets/shop_floor_7by7_even_out.sdf" />
  <node name="spawn_tape" pkg="gazebo_ros" type="spawn_model" args="-sdf -param tape  -x 0 -y 0 -z 0.00005 -R 0 -P 0 -Y 0 -model tape" respawn="false" output="screen" />
</launch>

